/* Header Container */
.header {
  display: flex;
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align to the top of the viewport */
  left: 0;
  justify-content: space-between; /* Space out left, center, right */
  align-items: center; /* Vertically center content */
  background-color: white; /* Light green background */
  padding: 10px 30px; /* Add padding for spacing */
  color: white;
  width: 100%;
  z-index: 1000;
  height: 70px;
}

a:hover {
  text-decoration: none;
}
