.post-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 250px;
  width: calc(100% - 250px);
  max-width: 1200px;
  box-sizing: border-box;
}

/* Main Content Area */
.main-container {
  padding-top: 70px; /* Adjust this based on the header's height */
  display: flex;
  flex: 1;
}
